################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SWAS/.vs/SWAS/v16
/Debug
/x64
