################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Capstone_SWAS/v16
/.vs/SWAS/v16
/.vs
