################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SWAS/.vs/SWAS/v16
/Debug
/x64
/SWAS/Debug
/SWAS/SWAS.vcxproj.user
/SWAS/x64/Debug
/SWAS/SWASInputData_Chris.csv
/SWAS/~$SWASInputData_V1.xlsx
/SWAS/SWASInputData_V1.xlsx
/SWAS/SWASInputData_V1.csv
